{% extends "base/main.html" %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12" style="text-align: center;">
        <h1 >Digital Asset Management</h1>
      </div>
      
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    
   <img style="border-radius: 15px;margin: auto;display: block;" src="images/DAM.jpeg" alt="Dam" width="300px" height="200px">
   <br>
   <br>
   <p style="font-size: 15px; text-align: center; color: rgb(82, 75, 88); ">Digital asset management (DAM) is a system that stores, shares and organizes digital assets in a central location. It amplifies the benefits of creative files such as images, videos and other media. Ultimately, DAM is a company’s content sharing and storage solution.</p>
</section>
{% endblock %}
