{% extends "base/main.html" %}
{% block content %}

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12" style="text-align: center;">
              <h1>Musics</h1>
            </div>

          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">

          <!-- /.row -->
          <div class="row">
            <div class="col-md-12">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Musics Upload <small><em>You can upload your musics</em></small></h3>
                </div>
                <div class="card-body">

                  <div id="actions" class="row">
                  
                    <div class="col-lg-6">
                    <div class="btn-group w-50">
                      <a href="{% url 'media:add_audio' %}" class="btn btn-success col fileinput-button"> 
                              <i class="fas fa-plus"></i>
                              Add files
                            </a>
                        
                      </div>
                      </div>
                    
                    
                  </div>
                  
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card card-default">
                          <div class="card-header">
                            <h3 class="card-title">My All Musics <small><em>You can see your all musics</em></small>
                            </h3>
                          </div>
                          <div class="card-body">

                                
                                <table
                                id="example1"
                                class="table table-bordered table-striped"
                              >
                                <thead>
                                  <tr>
                                    <th>Title</th>
                                    <th>Artist</th>
                                    <th>Upload Date</th>
                                    <th>View</th>
                                    <th>Price</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for item in audio %}
                                  <tr>
                                    <th>{{item.title}}</th>
                                    <th>{{item.artist}}</th>
                                    
                                    <th>{{item.date_created}}</th>
                                    
                                    <th>
                                      <img style="width:320px; height:240px" alt="" src="{{item.image.url}}"/>
                                      <audio controls class="fc-media" style="width: 100%;">
                                        <source src="{{item.audio_file.url}}" type="audio/mp3"/>
                                       </audio>
                                    </th>
                                    <th>${{item.price}}</th>
                                    <th><a
                                          href="{% url 'media:update_audio' item.id %}"
                                          class="btn btn-primary col start"
                                        >
                                          <i class="fas fa-upload"></i>
                                          <span>Update</span>
                                        </a>
                                    </th>
                                    <th><a
                                          href="{% url 'media:delete_audio' item.id %}"
                                          class="btn btn-warning col cancel"
                                        >
                                          <i class="fas fa-upload"></i>
                                          <span>Delete</span>
                                        </a>
                                    </th>
                                    </th>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                                

                              </div>
                            </div>



                          
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

              </div>

              <!-- /.card -->
            </div>

          </div>


          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    
{% endblock %}